.mdl-grid.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone.mdl-cell--top
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp
          .mdl-card__title
              h2.mdl-card__title-text {{titulo}}
          .mdl-card__supporting-text
              p.letras-negras
                {{mensaje}}
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect Detalles
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp
          .mdl-card__title
              h2.mdl-card__title-text {{titulo}}
          .mdl-card__supporting-text
              p.letras-negras
                {{mensaje}}
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect Detalles
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp
          .mdl-card__title
              h2.mdl-card__title-text {{titulo}}
          .mdl-card__supporting-text
              p.letras-negras
                {{mensaje}}
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect Detalles
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp
          .mdl-card__title
              h2.mdl-card__title-text {{titulo}}
          .mdl-card__supporting-text
              p.letras-negras
                {{mensaje}}
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect Detalles
.mdl-card-2.mdl-shadow--2dp-2
  a(class="mdl-button blank-historia-button" type="button" href="/addReleaseBacklog") Agregar Release BackLog
