extends ./index.jade
block content
  .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp.cotoneaster
          .mdl-card__title.mdl-card--expand
              h2.mdl-card__title-text {{rol}}
          .mdl-card__supporting-text
              a(href='#', target='_blank') {{nombre}}
  .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
      div(ng-view)
  .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp.trending(ng-repeat="desarrollador in desarrolladores")
          .mdl-card__title
              h2.mdl-card__title-text {{desarrollador}}
          .mdl-card__supporting-text
              ul.mdl-list
                  li.mdl-list__item
                      span.mdl-list__item-primary-content.list__item-text Nombre Desarrollador
