extends ./index.jade
block content
  .mdl-grid.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone.mdl-cell--top(ng-controller="releaseBacklogCtrl", ng-init="init('#{proyecto._id}', #{historias !== null ? historias:'{}'})")
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text Aqui va nombre de proyecto
        .mdl-card__supporting-text
          p.letras-negras.
            Aqui va la descripcion del proyecto
      br
      br
      .mdl-card.mdl-shadow--2dp
        .mdl-card__title
          h2.mdl-card__title-text Release Backlog
        .mdl-card__supporting-text
          ul.mdl-list
            li.mdl-list__item
              span.mdl-list__item-primary-content.list__item-text.letras-negras Nombre de la historia
          button.mdl-button(type="submit" ng-click="accionarBoton()") Agregar
    .mdl-cell.mdl-cell--9-col-desktop.mdl-cell--9-col-tablet.mdl-cell--5-col-phone
      .mdl-card-2.mdl-shadow--2dp-2
        .mdl-grid.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone.mdl-cell--top
          .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone(ng-repeat="historia in historias")
              .mdl-card.mdl-shadow--2dp
                  .mdl-card__title
                      h2.mdl-card__title-text {{historia.descripcion}}
                  .mdl-card__supporting-text
                      button(class="mdl-button blank-sprint-button" type="button") Agregar historia de usuario
  dialog(class="mdl-dialog-big blank-sprint-dialog")
    h2.mdl-dialog__title Detalle Historia

  script.
    var dialogSprint = document.querySelector('.blank-sprint-dialog');
    var showDialogButtonSprints = document.querySelectorAll('.blank-sprint-button');
    if (! dialogSprint.showModal) {
      dialogPolyfill.registerDialog(dialogSprint);
    }
    [].forEach.call(showDialogButtonSprints, function(button){
        button.addEventListener('click', function() {
          dialogSprint.showModal();
          });
    });
