ng-include(src="releaseBackLog.jade")

  script.
    var dialogSprint = document.querySelector('.blank-sprint-dialog');
    var showDialogButtonSprints = document.querySelectorAll('.blank-sprint-button');
    if (! dialogSprint.showModal) {
      dialogPolyfill.registerDialog(dialogSprint);
    }
    [].forEach.call(showDialogButtonSprints, function(button){
        button.addEventListener('click', function() {
          dialogSprint.showModal();
          });
    });
